<!DOCTYPE html>
    <%- include("../partials/head", { pagina : "Sobre" } )%>


    <body class="container">
        
        <%- include("../partials/header") %>


        <main>
            <h1>Sobre Min.</h1>
            <p>
                Contendo Aboult
            </p>
        </main>

        <%- include("../partials/footer") %>

    </body>

</>